
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @Html.ActionLink("CLUB", "insideclub") <br />
    @Html.ActionLink("Stadium", "insidestadium")<br />
    @Html.ActionLink("FAN", "BlockFan", "Fan")
</div>
