
@{
    ViewBag.Title = "insidefan";
}

<h2>Fan</h2>

<div>
    @Html.ActionLink("Purchase Ticket ","purchaseticket", "Fan")
</div>

<div>
    @Html.ActionLink("View Matches with available tickets ", "passdate", "Match")
</div>

<br />
<br />
<br />
<br />
