
@{
    ViewBag.Title = "insideclub";
}

<h2>Club</h2>

<div>
    @Html.ActionLink("ADD CLUB", "CreateClub", "Club")
</div>
<div>
    @Html.ActionLink("Delete CLUB", "DeleteClub", "Club")
</div>
<br/>
<br />
<br />
<br />
<div>
    @Html.ActionLink("Back to Admin", "Index", "base")
</div>
