
@{
    ViewBag.Title = "insideclub";
}

<h2>insideclub</h2>

<div>
    @Html.ActionLink("ADD CLUB", "CreateClub", "Club")
</div>
<div>
    @Html.ActionLink("Delete CLUB", "DeleteClub", "Club")
</div>
