
@{
    ViewBag.Title = "insidestadium";
}

<h2>Stadium</h2>

<div>
    @Html.ActionLink("ADD STADIUM", "CreateStadium", "Stadium")
</div>
<div>
    @Html.ActionLink("DELETE STADIUM", "DeleteStadium", "Stadium")
</div>
<br />
<br />
<br />
<br />
<div>
    @Html.ActionLink("Back to Admin", "Index", "base")
</div>