
@{
    ViewBag.Title = "RegisterPage";
}

<h2>RegisterPage</h2>



<div>
    @Html.ActionLink("Sports Association Manager", "signUpAM", "Register")
</div>
<div>
    @Html.ActionLink("Stadium Manager", "signUpFan", "Register")
</div>
<div>
    @Html.ActionLink("Sports Association Manager", "signUpFan", "Register")
</div>
<div>
    @Html.ActionLink("Fan", "signUpFan", "Register")
</div>